@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#article {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*
#article .index-article {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px;
	height: 170px;
	white-space:nowrap;
}

#article .index-article img {
	display: block;
	width: 120px;
	height: 120px;
	margin-right: 15px;
	border: 1px solid #ccc;
	padding: 5px;
	outline: 1px solid #ccc
	filter: contrast(0.9);
  -webkit-filter: contrast(0.9);
}
*/

#article .header {
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
}

#article.desc {
	
}

code.singleline {
	margin: 5px;
	outline-width: thin;
	outline-style: solid;
	outline-offset: 1px;
	color: blue;
	font-style: italic;
}