@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 15px/18px Consolas;
  	background-color: #000000;
	color: #84c754;
}

main {
	justify-content: center;
	display: flex;
}

main aside.left {
	width: 250px;
	padding: 0.5em;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

main article {
	flex: 1;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

main aside.right {
	width: 250px;
	border: 1px solid;
}

main aside,
main article {
	box-sizing: border-box;
	padding-left : 0.25em;
	padding-right : 0.25em;
}

a, button {
	transition: all .2s ease-in-out;
	cursor: pointer;
}

button {
	outline: none;
	border: none;
}

article .header {
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
}

article .index-article {
	border: 1px solid #ffffff;
	height: 180px;
	margin-bottom: 3px;
	padding: 10px;
	border-radius: 5px;
}

article .index-article a:link,
article .index-article a:visited,
article .index-article a:hover,
article .index-article a:active {
	color: #84c754;
}

article .index-article img {
	margin-right: 10px;
	width: 150px;
	height: 120px;
	border: 1px solid #ffffff;
	object-fit: cover;
	float: left;
}

article .index-article .summary {
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

article .index-article .title {
	margin: 5px;
	margin-bottom:15px;
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
}

#article .permalink-article a:link,
#article .permalink-article a:visited,
#article .permalink-article a:hover,
#article .permalink-article a:active {
	color: #ffffff;
	text-decoration: underline;
}

code.singleline {
	margin: 5px;
	outline-width: thin;
	outline-style: solid;
	outline-offset: 1px;
	color: blue;
	font-style: italic;
}

#search {
	flex: 1;
	padding: 0 0.1em;
}

#search s_sidebar_element {
	display: flex;
	align-items: center;
}

#search s_sidebar_element input {
	width:100%;
	color: 495057;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 1.25em;
	padding-bottom: 0.25;
	flex: 1;
	border-bottom: 1px solid #ffffff;
	transition: all 0.2s ease-in-out;
}

#search s_sidebar_element button {
	width: 40px;
	background-color: transparent;
}

@media screen and (max-width: 1424px) {
	main aside.right {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	main aside.left {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	main article {
		flex: none;
		width: 768px;
	}
}

#toc {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

#toc::-webkit-scrollbar {
	width: 3px; /*스크롤바의 너비*/
}

#toc::-webkit-scrollbar-thumb {
	background-color: #ffffff; /*스크롤바의 색상*/
}

#toc::-webkit-scrollbar-track {
	background-color: #000000; /*스크롤바 트랙 색상*/
}

#toc ul {
	padding-left:20px;
}

#toc h1 {
	font-size: 1.3em;
}

#toc h2 {
	font-size: 1.1em;
}

#toc h3 {
	font-size: 1.0em;
	font-style: italic;
}

#toc h4 {
	font-size: 1.0em;
	font-style: italic;
}

#toc h5 {
	font-size: 1.0em;
	font-style: italic;
}

#toc h6 {
	font-size: 1.0em;
	font-style: italic;
}

#toc li a[selected] {
	font-weight: bold;
}

#toc li a[selected] {
	font-weight: bold;
}

#toc li a[selected]::before {
	content: "[";
}

#toc li a[selected]::after {
	content: "]";
}

#toc li a:link,
#toc li a:visited,
#toc li a:hover,
#toc li a:active {
	color: #84c754;
}